.add-project-form {
    // .add-project-form__group
    &__group {
        margin-bottom: 1.25rem;
    }
    // .add-project-form__input
    &__input {
        width: 100%;
    }
    // .add-project-form__btn
    &__btn {
        width: 100%;
    }
}
