.board-page-header {
    // .board-page-header__wrapper
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
}

.board-page-main {
    padding: 1.5rem 0;
    height: calc(100% - 83.2px);
}
