$containerWidth: 1440px;

// Breakpoints
$lgx: $containerWidth;
$lg: 1170px;
$md: 991.98px;
$sm: 767.96px;
$smm: 677px;
$smx: 479.98px;

$colors: (
    "grey": #565a69,
    "dark-grey": #2c2c37,
    "light-grey": #e8f0fb,
    "black": #21222d,
    "white": #ffffff,
    "blue": #645dc6,
    "light-blue": #f4f7ff,
    "red": #f87171,
);

@function HexToRGB($hex) {
    @return red($hex), green($hex), blue($hex);
}

:root {
    // Colors
    @if $colors {
        @each $key, $value in $colors {
            --color-#{$key}: #{$value};
            --color-#{$key}--rgb: #{HexToRGB($value)};
        }
    }

    // Typography
    --font-family: "Roboto", sans-serif;
    --font-size: 1rem;

    // Layout
    --container-width: #{$containerWidth};

    // Breakpoints
    --bp-lgx: #{$lgx};
    --bp-lg: #{$lg};
    --bp-md: #{$md};
    --bp-sm: #{$sm};
    --bp-smm: #{$smm};
    --bp-smx: #{smx};
}
