//<====Layout=========>
$containerWidth: 1440px;

//<====Breakpoints=====>
$lgx: $containerWidth; //большие мониторы
$lg: 1170px; //пк и ноутбуки
$md: 991.98px; //планшеты
$sm: 767.96px; //телефоны
$smm: 677px; //телефоны
$smx: 479.98px; //телефоны

// ==== Colors =====
$grey: #565a69;
$dark-grey: #2c2c37;
$light-grey: #e8f0fb;
$black: #21222d;
$white: #ffffff;
$blue: #645dc6;
$light-blue: #f4f7ff;

// Typography
$main-font-family: "Roboto", sans-serif;
$main-font-size: 1rem;

:root {
    // Colors
    --color-grey: #{$grey};
    --color-dark-grey: #{$dark-grey};
    --color-light-grey: #{$light-grey};
    --color-black: #{$black};
    --color-white: #{$white};
    --color-blue: #{$blue};
    --color-light-blue: #{$light-blue};

    // Breakpoints
    --bp-lgx: #{$lgx};
    --bp-lg: #{$lg};
    --bp-md: #{$md};
    --bp-sm: #{$sm};
    --bp-smm: #{$smm};
    --bp-smx: #{smx};

    // Typography
    --font-family: #{$main-font-family};
    --font-size: #{$main-font-size};

    // Layout
    --container-width: #{$containerWidth};
}
